body {
    overflow: hidden; /* Hide scrollbars */
}

.conteudo {
    margin: 18px;
}

.produto-img {
    width: 10em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}