
.d-block {
    width:1040px;
    height:460px;
}


.cards-wrapper {
    display: flex;
}

.card {
    margin: 0 .5em;
    width: calc(100% / 3);
}

.centralizado {
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

