
  .form-custom{

    background-color: #f4f4f4;
    text-align: center;
    align-items: center;
  }

   input[type="text"]:empty,
   input[type="file"]:empty,
   input[type="select"]:empty,
   input[type="number"]:empty {
      background-color: #f4f4f4;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }


.modal-custom{

    background-color: #ececec;
    text-align: center;
    align-items: center;

  }

.btn-custom-card{
  margin-left: 60%;
}

.btn-custom-editar{
  margin-right: 67% ;
}

.btn-custom-excluir{
  margin-right: 65% ;
}

.modal-header {
  background-color: #080808;
  color: #f4f4f4;
}

.btn-fechar {
  background-color: #f4f4f4;
}